{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
  %}
  {%- assign social_icons = true -%}
  {% endif %}


    <div class="container">
      <div class="col-md-4">
        <h4>About us</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the ipsum has been the ipsum has been the</p>
        <br>
        <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Opening Hours:</h5>
        <p>Monday - Friday 8:00 am - 6:00 pm </p>
        <p>Saturday & Sunday 8:00 am - 8:00 pm </p>
      </div>
      <div class="col-md-4">
        <h4>Location</h4>
        <p><i class="fa fa-location-arrow" aria-hidden="true"></i> Ledesma Extension, Ozamiz City </p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> +63918-520-8606</p>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> info@pinkrada.com </p>
      </div>
      <div class="col-md-4 social-media">
        <h4>Connect With Us!</h4>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-pinterest-square" aria-hidden="true"></i>
      </div>
      <div class="col-md-12 copyright">
        <p>&copy; 2017 Fun Bites. All Rights Reserved.</p>
        <ul class="list-inline">
          <li>
            <a href="#">Privacy</a>
          </li>
          <li>
            <a href="#">Terms</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </div>




  {% schema %}
  {
    "name": "Footer",
    "settings": [
    {
      "type": "link_list",
      "id": "footer_linklist",
      "label": "Primary menu",
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "footer_linklist_two",
      "label": "Additional menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "footer_newsletter_enable",
      "label": "Show newsletter signup",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": false
    }
    ]
  }
  {% endschema %}
