
<div class="buy-now">
  <div class="container">
    <div class="col-md-6 col-sm-12">
      <h2 class="wow fadeIn">{{section.settings.hero_tag}}</h2>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="col-sm-6">
        <button type="button" class="btn btn-lm wow bounceIn">{{section.settings.hero_first_label}}</button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-bn wow bounceIn">{{section.settings.hero_second_label}}</button>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
	"name": "Hero",
	"settings": [
    {
  		"type": "text",
  		"id": "hero_tag",
  		"label": "Tagline",
      "default": "Featuring our latest book : "
	  },
    {
  		"type": "text",
  		"id": "hero_first_label",
  		"label": "First Button Label",
      "default": "Learn More"
	  },
    {
  		"type": "url",
  		"id": "hero_first_url",
  		"label": "First Button URL"
	  },
    {
  		"type": "text",
  		"id": "hero_second_label",
  		"label": "Second Button Label",
      "default": "Learn More"
	  },
    {
  		"type": "url",
  		"id": "hero_second_url",
  		"label": "Second Button URL"
	  },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
