<header>
  <div class="header-overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-content">
            <div class="header-content-inner">
              <!-- <h1>New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!</h1> -->
              <!-- <a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a> -->
              <h1>Fun <span>Bites</span></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
	"name": "Hero",
	"settings": [
    {
  		"type": "text",
  		"id": "hero_tag",
  		"label": "Tagline",
      "default": "Featuring our latest book : "
	  },
    {
  		"type": "text",
  		"id": "hero_first_label",
  		"label": "First Button Label",
      "default": "Learn More"
	  },
    {
  		"type": "url",
  		"id": "hero_first_url",
  		"label": "First Button URL"
	  },
    {
  		"type": "text",
  		"id": "hero_second_label",
  		"label": "Second Button Label",
      "default": "Learn More"
	  },
    {
  		"type": "url",
  		"id": "hero_second_url",
  		"label": "Second Button URL"
	  },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
