<section class="newsletter" id="newsletter">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Stay in touch with updates</h2>

        <form id="register-newsletter">
          <input type="text" name="newsletter" required="" placeholder="Enter your email address">
          <input type="submit" class="btn btn-custom-3" value="SIGN UP">
        </form>
      </div>


    </div>
  </div>
  <div class="overlay"></div>
</section>
