<section class="inner-page-section">
  <div class="container">
    <div class="col-md-5">
    <img src="img/inner.jpg" >
    </div>
    <div class="col-md-7">
      <div class="inner-box">
        <h2>Our Story</h2>
        <p>It all began when our family opened the first Fast Food Delivery Business in Ozamiz. Our family goal was to own not just a family restaurant and not just a fast food joint, but a place where everyone, of all ages, could come and get a great meal and great fun for a great price. </p>
        <p>We like to brag about our delicious Fried Chicken, mouth watering taste pork barbecue, and freshly made Beaver Tail. Everything we do goes into making our hearty meals stand out. We handcraft almost everything we serve. We provide larger portions so you get more food for your money. And if you want perfect and fast deliveries — well, we have those, too.</p>
      </div>

      <div class="inner-box">
        <h2>Experience</h2>
        <p>Our food’s not the only thing that’s Legendary in Ozamiz — our fun is too! From our excellent cook to our friendly staff, you’ll enjoy every second you order from our joint.</p>
        <p>At Fun Bites our team has an incredible sense of pride in everything we do. Our passion ensures you have a Fun Experience every time.  Because of our passion for our guests and our communities, our team members are involved outside our joint  in their local communities as a way to give back.</p>
      </div>
    </div>

  </div>
</section>
